main{
    display:flex;
    padding: 10px;
    gap:10px;
    justify-content: space-evenly;
    min-height: 400px;
}
body{
    background: url(Images/background.gif);
    background-size: 25%;
}
#left{
    top: 120px;
    left:250px;
    min-width: 600px;
    position: relative;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-image: url(Images/right_facing.png);
}
#middle{
    top: 300px;
    min-width: 500px;
    position: relative;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-image: url(Images/left_facing.png);
}
#right{
    top: 100px;
    right:400px;
    min-width: 300px;
    max-height: 300px;
    position: relative;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-image: url(Images/right_facing.png);
}
/* #right:hover{
    background-image: url(Images/right_facing2.png);
    z-index: 1;
}
#middle:hover{
    background-image: url(Images/left_facing2.png);
    z-index: 1;
}
#left:hover{
    background-image: url(Images/right_facing2.png);
    z-index: 1;
} */
#studio{
    position: relative;
    top: 80px;
    left: -60px;
}
#rd{
    position: relative;
    top:100px;
}
#final{
    position: relative;
    top:70px;
    left: -50px;
}
ul {
    list-style-type: none;
}
li a{
    list-style: none;
    margin-left: 20%;
    margin-top: 150px;
}
a{
    font-family: SixtyFour;
    text-decoration: none;
    color: #00bb10;
    font-weight: bold;
    font-size: small;
}
a:hover{color: greenyellow;}
footer{
    font-family: SixtyFour;
    background: #FFF7AC;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ff9500;
    text-align: left;
}
h2{
    font-family: SixtyFour;
    color: #00bb10;
    text-align: center;
    font-size: larger;
}
p{
    margin: 10px;
    font-weight: bold;
}
#email{    
    font-family: SixtyFour;
    color: #ff9500;
    text-align: left;
}
