
h2{color: #FFF7AC;}
main{
    display:flex;
    padding: 10px;
    gap:10px;
    justify-content: space-evenly;
    min-height: 400px;
}
body{
    background: #455FC0;
}
#left{
    display:block;
    background-image: url(Images/right_facing.png);
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat; 
}
#middle{
    display:block;
}
#right{
    display:block;
}
ul {
    list-style-type: none;
}
li a{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFF7AC;
}
a:hover{color: greenyellow;}
footer{
    background: #FFF7AC;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #455FC0;
    text-align: center;
}
p{
    margin: 5px;
    font-weight: bold;
}
#foot{    
    font:1em;
    font-weight: bold;
    justify-content: center;
    color: #455FC0;
    text-align: center;
}