html{
    scroll-behavior: smooth;
}
body{
    background-color: #0D291e;
    background-image: url(Images/pic.png);
}
h1{
    font-family: "Protest Riot", sans-serif;
    font-size: xx-large;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #ace5cc;
}
h3{
    font-family: "Protest Riot", sans-serif;
    font-size: large;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #ace5cc;
}
p{
    font-family: "Fredoka", sans-serif;;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-right:250px;
    padding-left: 250px;
    padding-bottom:none;
    width: 900px;
    color:#dcfff0;
}
a{
    font-weight: bolder;
    color: rgb(188, 255, 32);
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: #ace5cc solid 2px;
    border-radius: 20px;
}
figure{
    padding-bottom: 50px;
}
/* figcaption{
    font-family: "Fredoka", sans-serif;
    margin-left: 50%;
    margin-top: 20px;
    margin-right: auto;
    color:#ace5cc;} */