body{
    background-color: blanchedalmond;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    padding-top: 50px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px;
}
.datetime{
    padding:0px;
}
a{
    font-weight: bolder;
    color: rgb(148, 83, 240);
    text-decoration: none;
}