body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(229, 164, 255);
    background-color: #040022;
}

#pad1, #pad2, #pad3, #pad4, #pad5 {
    opacity: 0.7;
}

#pad1 {
    position: absolute;
    top: 5%;
    left: 73%;
}

#pad2 {
    position: absolute;
    top: 30%;
    left: 58%;
}

#pad3 {
    position: absolute;
    top: 50%;
    left: 42%;
}

#pad4 {
    position: absolute;
    top: 30%;
    left: 25%;
}

#pad5 {
    position: absolute;
    top: 5%;
    left: 12%;
}

@keyframes vibrate {
    0% { transform: translate(-2px, -2px); }
    25% { transform: translate(2px, 2px); }
    50% { transform: translate(0, -2px); }
    75% { transform: translate(-2px, 2px); }
    100% { transform: translate(2px, -2px); }
}

.on {
    opacity: 1;
    animation: vibrate 0.1s ease-in-out infinite;
}

img {
    max-height: 425px;
}

#action a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: transparent;
    border: 2px solid rgb(229, 164, 255);
    border-radius: 30px;
    width: 100px;
    margin: auto;
    color: rgb(229, 164, 255);
    font-weight: bold;
}

#score span {
    font-weight: bold;
}

#game div {
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    margin: 0 10px;
}

#game div:hover {
    cursor: pointer;
}

#game {
    /* display: flex; */
    gap: 50px;
    justify-content: center;
    height: 500px;
}

#text {
    text-align: center;
    margin-top: 20px;
}

#text p {
    margin: 5px;
}
